<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.resoneuronance.stadic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    <!-- GCM connects to Internet Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.resoneuronance.stadic.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.resoneuronance.stadic.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoginMainActivity"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.student.StudentLoginTabActivity"
            android:label="@string/title_activity_studentlogintab" >
        </activity>
        <activity
            android:name=".activity.teacher.TeacherLoginTabActivity"
            android:label="@string/title_activity_teacherlogintab" >
        </activity>

        <!-- to be changed -->
        <activity
            android:name=".activity.teacher.TeacherSendNotificationActivity"
            android:label="@string/title_activity_teacher_profile" >
        </activity>
        <activity
            android:name=".activity.student.StudentRegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".adapter.student.StudentNotificationOptionsAdapter"
            android:label="@string/title_activity_student__profile_customclass" >
        </activity>

        <!-- to be changed -->
        <activity
            android:name=".activity.student.StudentDepartmentNotificationActivity"
            android:label="@string/title_activity_departmentnotify" >
        </activity>
        <activity
            android:name=".student.notification.Teacher_Notify_customclass"
            android:label="@string/title_activity_teacher__notify_customclass" >
        </activity>
        <activity
            android:name=".activity.student.StudentTeacherNotificationActivity"
            android:label="@string/title_activity_teacher_notify" >
        </activity>
        <activity
            android:name=".activity.student.StudentDepartmentActivity"
            android:label="@string/title_activity_add_stud_department" >
        </activity>
        <activity
            android:name=".activity.student.StudentTeacherActivity"
            android:label="@string/title_activity_add_stud_teacher" >
        </activity>

        <!-- to be changed -->
        <activity
            android:name=".activity.student.StudentProfileTabActivity"
            android:label="@string/title_activity_my_profile_student" >
        </activity>
        <activity
            android:name=".activity.student.StudentMainActivity"
            android:label="@string/title_activity_main_student_profile" >
        </activity>
        <activity
            android:name=".activity.student.StudentTeacherNotificationsListActivity"
            android:label="@string/title_activity_teacher_notification_list" >
        </activity>
        <activity
            android:name=".adapter.student.StudentTeacherNotificationAdapter"
            android:label="@string/title_activity_teacher_notification_list_adapter" >
        </activity>
        <activity
            android:name=".adapter.student.StudentTeacherNotificationListAdapter"
            android:label="@string/title_activity_teacher_notification_list_adapter" >
        </activity>
        <activity
            android:name=".activity.student.StudentDepartmentNotificationsListActivity"
            android:label="@string/title_activity_department_notification_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adapter.student.StudentDepartmentNotificationAdapter"
            android:label="@string/title_activity_department_notification_list" >
        </activity>
        <activity
            android:name=".adapter.student.StudentDepartmentNotificationListAdapter"
            android:label="@string/title_activity_department_notification_list_adapter" >
        </activity>
        <activity
            android:name=".activity.student.StudentOptionsTabActivity"
            android:label="@string/title_activity_department_notify" >
        </activity>
        <activity
            android:name=".activity.student.StudentNotificationsTabActivity"
            android:label="@string/title_activity_student_profile_options" >
        </activity>
        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen" >
        </activity>
        <activity
            android:name=".activity.teacher.TeacherProfileTabActivity"
            android:label="@string/title_activity_my_profile_teacher" >
        </activity>
        <activity
            android:name=".activity.teacher.TeacherMainActivity"
            android:label="@string/title_activity_main_teacher_profile" >
        </activity>

        <receiver
            android:name=".service.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.resoneuronance.stadic" />
            </intent-filter>
        </receiver>

        <service android:name=".service.GCMNotificationIntentService" />

        <activity
            android:name=".activity.teacher.TeacherOptionsTabActivity"
            android:label="@string/title_activity_teacher_options_tab" >
        </activity>
        <activity
            android:name=".activity.teacher.TeacherDepartmentNotificationActivity"
            android:label="@string/title_activity_teacher_department_notification" >
        </activity>
        <activity
            android:name=".adapter.teacher.TeacherDepartmentNotificationAdapter"
            android:label="@string/title_activity_teacher_department_notification_adapter" >
        </activity>
        <activity
            android:name=".activity.teacher.TeacherDepartmentActivity"
            android:label="@string/title_activity_teacher_department" >
        </activity>
        <activity
            android:name=".activity.teacher.TeacherDepartmentNotificationsListActivity"
            android:label="@string/title_activity_teacher_department_notifications_list" >
        </activity>
        <activity
            android:name=".adapter.teacher.TeacherDepartmentNotificationListAdapter"
            android:label="@string/title_activity_teacher_department_notification_list_adapter" >
        </activity>
        <activity
            android:name="com.resoneuronance.stadic.activity.teacher.TeacherRegistrationActivity"
            android:label="@string/title_activity_teacher_registration" >
        </activity>
        <activity
            android:name="com.resoneuronance.stadic.activity.student.StudentDeleteTeacherActivity"
            android:label="@string/title_activity_student_delete_teacher" >
        </activity>
        <activity
            android:name="com.resoneuronance.stadic.activity.student.StudentAddTeacherActivity"
            android:label="@string/title_activity_student_add_teacher" >
        </activity>
        <activity
            android:name="com.resoneuronance.stadic.activity.student.StudentAddDepartmentActivity"
            android:label="@string/title_activity_student_add_department" >
        </activity>
        <activity
            android:name="com.resoneuronance.stadic.activity.student.StudentDeleteDepartmentActivity"
            android:label="@string/title_activity_student_delete_department" >
        </activity>
    </application>

</manifest>